<mat-card class="room-details-container">
    <h1 class="room-title">{{currentRoomData.room_name}}</h1>
    <h2 class="room-title">{{currentRoomData.room_code}}</h2>
    <mat-card-content class="room-content">
        <p><span>{{currentRoomData.total_participant}}</span> Participant(s)</p>
    </mat-card-content>
    <h2>Item {{this.currentItemIndex+1}}</h2>
    <h3>{{itemNames}}</h3>
    <button (click)="onNext()" mat-raised-button color="accent" *ngIf="!isLastItem"
        class="create-room-button">Next</button>
</mat-card>