<mat-card class="room-charts-container">
    <div class="column-charts-container">
        <div [matTooltip]=redTooltip matTooltipPosition="above" class="column-chart-item red">
        </div>
        <div [matTooltip]=orangeTooltip class="column-chart-item orange" matTooltipPosition="above"></div>
        <div [matTooltip]=yellowTooltip class="column-chart-item yellow" matTooltipPosition="above"></div>
        <div [matTooltip]=greenYellowTooltip class="column-chart-item green-yellow" matTooltipPosition="above"></div>
        <div [matTooltip]=greenTooltip matTooltipPosition="above" class="column-chart-item green">
        </div>
    </div>
    <div class="column-charts-container">
        <div [matTooltip]=blackTooltip class="column-chart-item black" matTooltipPosition="above"></div>
        <div class="column-chart-item white" [matTooltip]=whiteTooltip matTooltipPosition="above"></div>
    </div>
</mat-card>