<mat-card class="room-charts-container">
    <div class="column-charts-container">
        <div class="column-chart-item red"></div>
        <div class="column-chart-item orange"></div>
        <div class="column-chart-item yellow"></div>
        <div class="column-chart-item green-yellow"></div>
        <div class="column-chart-item green"></div>
    </div>
    <div class="column-charts-container">
        <div class="column-chart-item black"></div>
        <div class="column-chart-item white"></div>
    </div>
</mat-card>