.room-charts-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .column-charts-container {
    display: flex;
    width: 70%;
    margin: 1rem;
    align-items: flex-end;
    .column-chart-item {
      border: 0.5px solid rgba(0, 0, 0, 0.444);
      height: 0.2rem;
      width: 3rem;
      margin: 0 auto;
      cursor: pointer;
      @media screen and (max-width: 800px) {
        width: 1.2rem;
      }
    }
    &:last-child {
      width: 30%;
    }
  }
}
.red {
  background-color: red;
  height: calc(var(--redStyleProperty) * 10) !important;
  @media screen and (max-width: 800px) {
    height: calc(var(--redStyleProperty) * 4) !important;
  }
}
.orange {
  background-color: orange;
  height: calc(var(--orangeStyleProperty) * 10) !important;
  @media screen and (max-width: 800px) {
    height: calc(var(--orangeStyleProperty) * 4) !important;
  }
}
.yellow {
  background-color: yellow;
  height: calc(var(--yellowStyleProperty) * 10) !important;
  @media screen and (max-width: 800px) {
    height: calc(var(--yellowStyleProperty) * 4) !important;
  }
}
.green-yellow {
  background-color: greenyellow;
  height: calc(var(--greenYellowStyleProperty) * 10) !important;
  @media screen and (max-width: 800px) {
    height: calc(var(--greenYellowStyleProperty) * 4) !important;
  }
}
.green {
  height: calc(var(--greenStyleProperty) * 10) !important;
  @media screen and (max-width: 800px) {
    height: calc(var(--greenStyleProperty) * 4) !important;
  }
  background-color: green;
}
.black {
  background-color: black;
  height: calc(var(--blackStyleProperty) * 10) !important;
  @media screen and (max-width: 800px) {
    height: calc(var(--blackStyleProperty) * 4) !important;
  }
}
.white {
  background-color: white;
  height: calc(var(--whiteStyleProperty) * 10) !important;
  @media screen and (max-width: 800px) {
    height: calc(var(--whiteStyleProperty) * 4) !important;
  }
}
