<div class="welcomeMainContainer">
    <mat-accordion>
        <mat-expansion-panel [expanded]="!panelOpenState" (opened)="panelOpenState" (closed)="!panelOpenState"
            hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Accès votant
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-visitor-auth></app-visitor-auth>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState" (closed)="!panelOpenState" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Accès Adminstrateur
                </mat-panel-title>
            </mat-expansion-panel-header>
            <authenticator></authenticator>
        </mat-expansion-panel>
    </mat-accordion>
</div>