.main-admin-container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--responsiveViewHeight, 1vh) * 100);
  width: 100vw;
  background-color: black;
  overflow: hidden;
  .create-room-button {
    position: absolute;
    bottom: 3vh;
    right: 3vw;
    background-color: white;
    color: #000000;
    font-size: 2rem;
    font-family: sfTitle;
    font-weight: 700;
    border: 3px solid white;
    text-align: center;
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    @media screen and (max-width: 700px) {
      bottom: 6vh;
      right: 6vw;
      background-color: black;
      border: 3px solid white;
      color: white;
    }
    &:hover {
      background-color: black;
      color: white;
      border: 3px solid white;
      @media screen and (max-width: 700px) {
        background-color: white;
        border: 3px solid black;
        color: black;
      }
    }
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    h1 {
      color: white;
      font-family: sfTitle;
      font-size: 2rem;
      margin: 0;
      @media screen and (max-width: 700px) {
        font-size: 1.8rem;
      }
    }
    button {
      background: transparent;
      color: black;
      font-family: sfLogo;
      font-size: 1rem;
      border-radius: 2rem;
      padding-left: 3.5rem;
      min-width: 8rem;
      width: fit-content;
      height: 3rem;
      text-transform: capitalize;
      margin: 0 0.5rem;
      border: transparent 1px solid;
      &:hover {
        border: white 1px solid;
      }
      &.logOut-button {
        border: rgba(255, 255, 255, 0.5) 1px solid;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        padding: 0.2rem 1rem;
        &:hover {
          color: white !important;
          background-color: black;
        }
      }
    }
  }
}
