.room-card-container {
  width: 22vw;
  height: 24vh;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  @media screen and (max-width: 800px) {
    width: 80vw;
  }
  h2 {
    color: black;
    font-family: sfLogo;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: capitalize;
    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }

    span {
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      background-color: red;
      display: block;
      margin-right: 0.1rem;
    }
  }
  h1 {
    color: black;
    font-family: sfLogo;
    font-size: 1.6rem;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
    line-break: anywhere;
    @media screen and (max-width: 800px) {
      font-size: 1.4rem;
    }
  }
  .room-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2%;
    left: 0%;
    padding: 0 1rem;
    width: 100%;
    p {
      font-family: sfLogo;
      color: rgba(0, 0, 0, 0.3);
      font-weight: 100;
      margin: 0 auto 0.5rem 0.5rem;
      &:last-child {
        margin-left: auto;
        margin-right: 0.5rem;
      }
      span {
        color: black;
        margin-right: 0.2rem;
      }
    }
  }
}
