<div class="authContainer">
    <mat-card class="authContent">
        <h2> Bienvenue !</h2>
        <h3>{{getHeaderText()}}</h3>
        <div *ngIf="isInLogin()">
            <input #loginEmail placeholder="Email">
            <input #loginPassword type="password" placeholder="Mot de passe">
            <button (click)="onLogingIn(loginEmail,loginPassword)" mat-raised-button color="accent">SE CONNECTER</button>
        </div>
        <div *ngIf="isInForgotPassword()">
            <input #resetEmail placeholder="Email">
            <button (click)="onResetPassword(resetEmail)" mat-raised-button color="accent">Réinitialiser</button>
        </div>
        <mat-card-actions class="loginStatesContainer">
            <button *ngIf="!isInForgotPassword()" (click)="onForgotPasswordClick()" mat-flat-button>Mot de passe oublié ?</button>
            <button *ngIf="!isInLogin()" (click)="onLoginClick()" mat-flat-button>Se connecter</button>
        </mat-card-actions>
    </mat-card>
</div>